

{% load static %}

{% block content %}
<!-- Start Top Header Bar -->
<section class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 col-sm-4">
				<div class="contact-number">
					<i class="tf-ion-ios-telephone"></i>
					<span>0123-45678-91011</span>
				</div>
				<br/>
				<div class="contact-email">
					<i class="tf-ion-ios-email"></i>
					<span>rolandtactay571@gmail.com</span>
				</div>
			</div>

			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Site Logo -->
				<div class="logo text-center">
					<a href="">
						<!-- replace logo here -->
						<svg width="300px" height="40px" viewBox="0 0 200 40" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
                                font-family="AustinBold, Austin" font-weight="bold">
                                <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                                    <text id="AVIATO">
                                        <tspan x="109.94" y="335">Fashion Flow</tspan>
                                    </text>
                                </g>
                            </g>
                        </svg>
					</a>
				</div>
			</div>
            
			<div class="col-md-4 col-xs-10 col-sm-3">
				<ul class="top-menu text-right list-inline">

					<li>
						<a href="{% url 'cart' %}">
							<span class="badge">{{cart_count}} &nbsp;<i class="tf-ion-android-cart">Cart</i></span>
						</a>
					</li>
 
					<!-- Search -->
					<li class="dropdown search dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="tf-ion-ios-search-strong"></i> Search</a>
						<ul class="dropdown-menu search-dropdown">
							<li>
								<form action="{% url 'search' %}" method="GET">
									<input type="search" class="form-control" placeholder="Search..." name="keyword">
								</form>
							</li>
						</ul>
					</li>

					{% if user.id is None %}
					<li>
						<small class="title text-muted" style="margin-right: 9px;">Welcome guest!</small>
						<div> 
							<a href="{% url 'login' %}">Login</a> <span class="dark-transp"> | </span>
							<a href="{% url 'register' %}"> Register</a>
						</div>
		
					</li>
					{% else %}
					<li>
						<small class="title text-muted" style="margin-right: 9px;">Welcome {{ user.first_name }}</small>
						<div> 
							<a href="#">Dashboard</a> <span class="dark-transp"> | </span>
							<a href="{% url 'logout' %}">Logout</a>
						</div>
		
					</li>

					{% endif %}

				</ul>
			</div>
		</div>
	</div>
</section>
<!-- End Top Header Bar -->


<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div class="navbar-header">
				<h2 class="menu-title">Main Menu</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">

					<!-- Home -->
					<li class="dropdown ">
						<a href="{% url 'homepage' %}">Home</a>
					</li><!-- / Home -->


					<!-- Elements -->
					<li class="dropdown">
						<a href="{% url 'store' %}">Store</a>
					</li><!-- / Elements -->


					<!-- Blog -->
					<li class="dropdown dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">Categories <span
								class="tf-ion-ios-arrow-down"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'store' %}"><b>All Products</b></a>

							{% for category in links %}
							<li><a href="{{ category.get_absolute_url }}">{{ category.category_name }}</a></li>
							{% endfor %}
						</ul>
					</li><!-- / Blog -->

			</div>
			<!--/.navbar-collapse -->
		</div><!-- / .container -->
	</nav>
</section>


{% endblock %}
