{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Cart</h1>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Item Name</th>
                      <th class="">Item Price</th>
                      <th class="">Quantity</th>
                      <th class="">Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for cart_item in cart_items %}
                    <tr class="">
                        <td class="">
                            <div class="product-info">
                            <img width="80" src="{{cart_item.product.images.url}}" alt="" />
                            <a href="#!">{{cart_item.product.product_name}}</a>
                            </div>
                        </td>
                        <td class="">Php:{{cart_item.product.price}}</td>

                        <td class="">{{cart_item.quantity}} </td>
            
                        <td class=""> <a class="product-remove" href="#!">Remove</a></td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
                <hr>
                <a href="checkout.html" class="btn btn-main pull-left">Checkout</a>
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}