{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<section class="single-product">
	<div class="container">
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								<div class='item active'>
									<img src='{{single_product.images.url}}' alt='' data-zoom-image="{{single_product.images.url}}" />
								</div>
								<div class='item'>
									<img src='images/shop/single-products/product-2.jpg' alt='' data-zoom-image="images/shop/single-products/product-2.jpg" />
								</div>
								
								<div class='item'>
									<img src='images/shop/single-products/product-3.jpg' alt='' data-zoom-image="images/shop/single-products/product-3.jpg" />
								</div>
								<div class='item'>
									<img src='images/shop/single-products/product-4.jpg' alt='' data-zoom-image="images/shop/single-products/product-4.jpg" />
								</div>
								<div class='item'>
									<img src='images/shop/single-products/product-5.jpg' alt='' data-zoom-image="images/shop/single-products/product-5.jpg" />
								</div>
								<div class='item'>
									<img src='images/shop/single-products/product-6.jpg' alt='' data-zoom-image="images/shop/single-products/product-6.jpg" />
								</div>
								
							</div>
							
							<!-- sag sol -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>
						
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							<li data-target='#carousel-custom' data-slide-to='0' class='active'>
								<img src='{{single_product.images.url}}' alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='1'>
								<img src='images/shop/single-products/product-2.jpg' alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='2'>
								<img src='images/shop/single-products/product-3.jpg' alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='3'>
								<img src='images/shop/single-products/product-4.jpg' alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='4'>
								<img src='images/shop/single-products/product-5.jpg' alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='5'>
								<img src='images/shop/single-products/product-6.jpg' alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='6'>
								<img src='images/shop/single-products/product-7.jpg' alt='' />
							</li>
						</ol>
					</div>
				</div>
			</div>

			<div class="col-md-7">
				<form action="{% url 'add_to_cart' single_product.id %}" method="POST">
					{% csrf_token %}
					<div class="single-product-details">
						<h2>{{single_product.product_name}}</h2>
						<p class="product-price">Php{{single_product.price}}</p>
						
						<p class="product-description mt-20">Description: {{single_product.description}}</p>

						<div class="product-size" >
							<span>Color:</span>
							<select name="color" class="form-control"  required>
								<option value="" disabled selected></option>
								{% for i in single_product.variation_set.colors %}
								<option value="{{i.variation_value | lower }}">{{i.variation_value | capfirst }}</option>
								{% endfor %}
							</select>
						</div>

						<div class="product-size">
							<span>Size:</span>
							<select name="size" class="form-control"  required>
								<option value="" disabled selected></option>
								{% for i in single_product.variation_set.sizes %}
								<option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst }}</option>
								{% endfor %}
							</select>
						</div>
						
						<div class="product-category">
							<span>Categories:</span>
							<span>{{single_product.category}}</span>
						</div>

						{% if single_product.stock <= 0 %}
						<h5 class="text-danger mt-20"><b>Out of Stock.</b></h5>
						{% else %}
						<button type="submit" class="btn btn-main mt-20">Add To Cart</button>
						{% endif %}
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
						<li class=""><a data-toggle="tab" href="#writereview" aria-expanded="false">Write a Review</a></li>
						<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">All Reviews (3)</a></li>
					</ul>
					<div class="tab-content patternbg">

						<div id="details" class="tab-pane fade active in">
							<h4>Product Description</h4>
							<p>{{single_product.description}}</p>
						</div>

						<div id="writereview" class="tab-pane fade">
							<div class="post-comments">	
								<form action="{% url 'submit_review' single_product.id %}" method="POST">
									{% csrf_token %}
									<div>
										<!-- Rating star here -->
										<label for="">How do you rate this product?</label>
										<br>
										<div class="rate">
											<input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10"
												title="5"></label>
											<input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9"
												title="4.5" class="half"></label>
											<input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8"
												title="4"></label>
											<input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7"
												title="3.5" class="half"></label>
											<input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6"
												title="3"></label>
											<input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5"
												title="2.5" class="half"></label>
											<input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4"
												title="2"></label>
											<input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3"
												title="1.5" class="half"></label>
											<input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2"
												title="1"></label>
											<input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1"
												title="0.5" class="half"></label>
										</div>
										<br>
				
										Review Title:
										<input type="text" class="form-control" name="subject" required>
										<br>
										Review:
										<textarea name="review" id="" rows="4" class="form-control"></textarea>
										<br>

										{% if user.is_authenticated %}
											{% if ordered_product %}
												<input type="submit" value="Submit Review" class="btn btn-primary">
											{% else %}
												<p>You must purchase this product to post a review</p>
											{% endif %}
										{% else %}
											<p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login Now</a></span></p>
										{% endif %}
									</div>
								</form>
							</div>	
						</div>

						<!-- reviews -->
						<div id="reviews" class="tab-pane fade">
							<div class="post-comments">
						    	<ul class="media-list comments-list m-bot-50 clearlist">
								    <!-- Comment Item start-->
								    <li class="media">
								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src="images/blog/avater-1.jpg" alt="" width="50" height="50" />
								        </a>
								        <div class="media-body">
								            <div class="comment-info">
								                <h4 class="comment-author">
								                    <a href="#!">Jonathon Andrew</a>
								                </h4>
								                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
								            </div>
								            <p>
								                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laborum minima, reprehenderit laboriosam officiis praesentium? Impedit minus provident assumenda quae.
								            </p>
								        </div>
								    </li>
								    <!-- End Comment Item -->
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% include 'core/alerts.html'%}

{% endblock %}